.timer-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-buttons{
    margin: 10px;
}

.timer-buttons  button {
    width: 100px;
    height: 40px;
    margin: 0 10px; 
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:  #0722bc8a;
    color: white;
    cursor: pointer;
    transition: all 300ms ;
}

.timer-buttons  button:hover{
    background-color:#000000;
    /* border:solid #255697 3px; */
}

.timer-display{
    font-size: 70px;
    font-weight: 700;
    margin:10px 20px;
    color: white;
}