*{
    text-align: center;
    color: white;
}

p{
    font-size: 20px;
}

select{
    background-color: #DAA1AB;
    width: 197px;
    height: 42px;
    border: white solid 1px;
    font-size: 25px;
    margin: 9px 0;
}

option{
    font-size: 25px;
}

input{
    max-width: 197px;
    height: 42px;
    margin: 9px 0;
    background-color: #DAA1AB;
    border: white solid 1px;
    font-size: 25px;
}

::placeholder{
    color: rgb(255, 255, 255);
}